.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;  
  background-color: rgb(206, 133, 50);
}

.placeHolder1 {
  cursor: pointer;
  margin-top: 2px;
  padding: 8px;
  border: 1;
  border-radius: 5px;
  background-color: #bfe9fc ;
}